.card {
  position: relative;
  height: 18em;
  border-radius: 20px;
  overflow: hidden;
}

.card-image,
.card-image-gif {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 18em;
  width: auto;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.card:hover .card-image {
  z-index: -1;
}

.card-description {
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  height: 120px;
  transition: 0.2s;
  background-color: white;
  opacity: 1;
  z-index: 10;
}

.card:hover .card-description {
  background-color: white;
  overflow: hidden;
  opacity: 0.9;
  font-size: 18px;
  transform: translateY(-40px);
}
